h1 {
    color: blue;
    font-size: 36pt;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
    border: 10px solid aquamarine;
    border-radius: 10px;
    border-spacing: 0px;
    background-color: aquamarine;
}
.category {
    background-color: aquamarine;
    font-size: 26pt;
    padding: 30px;
    padding-right: 300px;
    padding-left: 300px;
    margin: 0px;
    
}
h3 {
    font-size: 20pt;
    font-weight: bold;
}
.question {
    border-bottom: 3px solid black;
    padding-bottom: 30px;
}
.answer-section {
    border: 2px solid grey;
    background-color: #F5F5F5;
    padding-top: 20px;
    padding-bottom: 20px;
}

button {
    margin: 10px;
    background-color: #008CBA;
    color: white;
    padding: 15px 32px;
    border: none;
    cursor: pointer;
}

button:disabled {
    opacity: 50%;
}